@font-face {
  font-family: 'Space-Quest';
  src: url("https://raw.githubusercontent.com/are-dynamic-2023-g8/Kessler-Syndrome/main/polices_écritures/missiondangerspaced.ttf");
}

@font-face {
  font-family: 'Space-Quest-Title';
  src: url('https://raw.githubusercontent.com/are-dynamic-2023-g8/Kessler-Syndrome/main/polices_écritures/missiondangertitle.ttf');
}

@font-face {
  font-family: 'Arcon';
  src: url('https://raw.githubusercontent.com/are-dynamic-2023-g8/Kessler-Syndrome/main/Arcon-Rounded-Regular.otf')format('otf');
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arcon', sans-serif;
}

h1 {
  text-align: center;
  color: white;
  padding-top: 120px;
  padding-bottom:500px;
  font-family: 'Space-Quest-Title';
  font-size: 50px;
  margin:0;
}

h2 {
  color:red;
  margin-right:5px;
  margin-left: 5px;
  margin-bottom: 70px;
  margin-top: 120px;
  text-align: center;
  font-family: 'Space-Quest';
  font-size: 40px;
}

h2 {
  text-decoration: none;
  margin-left: 30px;
  margin-right: 30px;
  height: 45px;
  background: linear-gradient(to top, rgba(255, 0, 0, 0.8) 0%, rgba(255, 0, 0, 0.8) 5%, transparent 5%) no-repeat left bottom / 0 100%;
  transition: background-size .5s ease-in-out;
}


h2:hover {
  background-size: 100% 100%;
}

h3 {
  color:red;
  margin-right:5px;
  margin-left: 5px;
  margin-bottom: 70px;
  margin-top: 100px;
  text-align: center;
  font-size: 25px;
  background: linear-gradient(to right, rgba(139, 146, 103, 0.5), rgba(52, 43, 43, 0.5)) no-repeat left bottom / 0 100%;
  transition: background-size .8s;
}
h3:hover {
  background-size: 100% 100%;
}

h4 {
  color:rgb(255, 81, 81);
  margin-right:5px;
  margin-left: 5px;
  margin-bottom: -150px;
  margin-top: 100px;
  text-align: center;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url('https://wallpapercave.com/wp/wp3493594.png');
  background-attachment: fixed;
  width: 100%;
  margin:0;
}


header {
  background-image: linear-gradient(rgba(255,255,255,0.15),rgba(0,0,0,0.9)),url("https://i.ytimg.com/vi/wAU1UGsojIE/maxresdefault.jpg");
  background-position: center;
  background-size: cover;
}

  
nav {
  margin-top:70px;
  margin-bottom:100px;
  background: linear-gradient(rgba(17, 27, 77, 0.674),rgba(0,0,0,0.8)),url('https://pbs.twimg.com/profile_banners/3192975297/1532037565/1500x500') no-repeat center center fixed;
  opacity: 1;
  background-size: cover;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.menu-list {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}


ul {
  margin: 0;
  padding: 0;
  display: flex;
}

li.ancres {
  list-style: none;
  margin: 0 10px;
  padding: 0 20px;
  padding: 25px;
  padding-right: 30px;
  border-right: 2px solid #fff;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

li.ancres>a{
  color:#fff;
  text-decoration: none;
}

li.ancres:last-child {
  border-right: none;
}



p.special {
  font-weight: bold;
  font-size: 16px;
  background-color: rgb(177, 155, 183);
}
p.special:hover {
  font-size: 18px;;
}

p {
  line-height: 1.6;
  color: black;
  margin-bottom: 3px;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 3px;
  padding: 12px;
  text-align: center;
  font-size: 13px;
  background-color: beige;
  opacity: 0.5;
}
p:hover {
  font-weight:550;
  font-size: 14.5px;
  border-radius: 15px;
}

.entre-text {
  margin-bottom: 50px;
  margin-top: 50px;
}

#avant_img {
  margin-top: 100px;
}

#img_metrique{
  height:150px;
  width:default;
  opacity:0.7;
  margin-bottom: 80px;
}

code {
  color:white;
  display: flex;
  justify-content: center;
  text-indent:0;
  margin-bottom: 100px;
}

#tit_graph {
  margin-top: 200px;
}

.t_mod {
  margin-top: 200px;
  background-color: yellow;
}

.graphs {
  margin-top:50px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  max-width: 700px;
}

.analyse {
 font-style: italic;
 margin-top: 30px;
 background-color: rgb(200, 192, 241);
}

.soluces {
  margin-top: 70px;
  background-color: greenyellow;
  margin-bottom: 200px;
}

#sol_conclu1 {
  margin-top: 100px;
  margin-bottom: -40px;
}
#sol_conclu2 {
  text-align: start;
  margin-bottom: 0;
}

.bibliography {
  flex-direction: column;
  font-size: 14px;
  text-align: center;
  color:white;
}

.bibliography li {
  margin-bottom: 10px; 
  padding-left: 20px; 
  text-indent: -20px; 
}

.bibliography a {
  color: #006699; 
  text-decoration: none;
  font-style: italic; 
}

.bibliography a:hover {
  text-decoration: underline; 
}


#banner1 {
      background: linear-gradient(rgba(68, 70, 79, 0.5),rgba(45, 38, 38, 0.8)),url('https://pbs.twimg.com/profile_banners/3192975297/1532037565/1500x500') no-repeat center center fixed;
      background-size: cover;
      margin-top: 70px;
      height: 50px;
      width: 100%;
      padding-top: 20px;
      display: flex;
      font-size: 20px;
      justify-content: center;
}

.cop {
  font-weight: 800;
}

#scroll_haut {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
  background-color: black;
  height: 40px;
  width:40px;
}




.slideshow {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  margin-top:50px;
  margin-bottom: 150px;
}


.slideshow-inner {
  display: flex;
  transition: transform 0.3s ease-out;
  align-items: center;
}


.slide {
  flex: 0 0 auto;
  width: 100%;
  height: 400px;
  text-align: center;
}


.slide img {
  max-width: 100%;
  max-height: 100%;
}


.prev-slide,
.next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid black;
  border-radius: 20px;
  padding: 1em;
  cursor: pointer;
  z-index: 2;
}


.prev-slide:hover,
.next-slide:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.prev-slide {
  left: 0;
}

.next-slide {
  right: 0;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #111; 
}


::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px; 
}


::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; 
}


::-webkit-scrollbar-button {
  background-color: #222; 
}


::-webkit-scrollbar-button:hover {
  background-color: #444; 
}
